*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height:100vh;
    background-color: rgb(235, 211, 179);
    overflow: hidden;
}
#appTitle{
    margin: 0.5vh 0 0.5vh 3.4vw;
}

.flexInline{
    display: flex;
    flex-direction: row;
}
#friendListContainer{
    margin:0 0 0 2vw;
    background-color: rgb(243, 226, 204);
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    min-height:90vh;
    border-radius:20px; 
}

#friendListTitle{
    margin: 0.8vh 0 0 1.5vw;
    
}
#textBoxContainer{
    border-radius: 20px 20px 0 0;
    margin-left: 0.8vw;
    background-color: white;
    min-width: 76vw;
    max-height: 86vh;
}
#textBox{
    box-sizing: border-box;
    /*background-color: rgba(0, 255, 255, 0.1);*/
    min-height: 100%;
    min-width: 100%;
    padding: 1vh 1.5vw;
}
#textEnterContainer{
    padding: 0;
    margin: 0;
    /*background-color: rgba(150, 150, 150, 1);*/
    min-width:76vw;
    min-height: 4vh
}
#msgText{
    min-height: 4vh;
    min-width: 67vw;
    padding: 0 1vw 0 1vw;
    border: 0px;
    border-top: 1px solid rgba(150,150,150,0.5);
    border-radius: 0 0 0 10px;
}
#sendMsg{
    border: 0;
    border-radius: 0 0 10px 0;
    min-height: 4vh;
    min-width: 7vw;
}
.msgContainer{
    color: white;
    background-color: burlywood;
    padding: 0.4vh 3vw 0.4vh 1vw;
    border-radius: 0 15px 15px 10px;
    width: fit-content;
    max-width: 55%;
}
.msgSender{
    font-size: larger;
    font-weight: bold;
}
.msgContent{
    text-align: justify;
}
.msgTime{
    font-size: small;
    text-align: end;
}


footer{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1vh 0 0 0;
}